.button {
    background-color: #8870ff;
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;

    color: white;
    text-decoration: none;
    font-family: "Anek Latin", sans-serif;
    font-size: 24px;
    border-radius: 12px;
    line-height: 50px;
    border: 3px solid #8870ff;
    transition: 0.3s;
}

.button:hover {
    background-color: transparent;
    color: #8870ff;
}
